html, body{
    background-color:#1E90FF ;
   width: 100%vh;
}
h1 {
    color: rgb(221, 47, 8);
    text-align: center;
}

#card {
    

}

#comparar {
    width: 200px;
    background-color: beige;
}

#quiz {
    width: 200px;
    color: aliceblue;
    background-color: black;
}

